/* 
██████  ██       ██████  ██████   █████  ██      ███████ ███████ 
██       ██      ██    ██ ██   ██ ██   ██ ██      ██      ██      
██   ███ ██      ██    ██ ██████  ███████ ██      █████   ███████ 
██    ██ ██      ██    ██ ██   ██ ██   ██ ██      ██           ██ 
 ██████  ███████  ██████  ██████  ██   ██ ███████ ███████ ███████  */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --background-color: #0167ac;
    --background-sidebar: rgba(0, 0, 0, 0.2);
    --background-form: #e6e9f7;
    --textoPlano: #ffff;
    --placeholders: #979797;
    --background-widgets: #B7EAFA;
    --background-inputs: #0167ac;
    --blanco: #FFFFFF;
    --negro: #000;
    --buttonHoverText: #4f46e5;
}

html {
    height: 100%;
}

body {
    background-color: var(--background-color);

}

p,
a {
    color: var(--textoPlano);
}

/* 
███    ███  █████  ██ ███    ██      ██████  ██████  ███    ██ ████████  █████  ██ ███    ██ ███████ ██████  
████  ████ ██   ██ ██ ████   ██     ██      ██    ██ ████   ██    ██    ██   ██ ██ ████   ██ ██      ██   ██ 
██ ████ ██ ███████ ██ ██ ██  ██     ██      ██    ██ ██ ██  ██    ██    ███████ ██ ██ ██  ██ █████   ██████  
██  ██  ██ ██   ██ ██ ██  ██ ██     ██      ██    ██ ██  ██ ██    ██    ██   ██ ██ ██  ██ ██ ██      ██   ██ 
██      ██ ██   ██ ██ ██   ████      ██████  ██████  ██   ████    ██    ██   ██ ██ ██   ████ ███████ ██   ██  */


.mainContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
        "a b";
    justify-items: center;
    align-items: center;
}

/*   
  ███████ ██ ██████  ███████     ██████   █████  ██████  
  ██      ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
  ███████ ██ ██   ██ █████       ██████  ███████ ██████  
       ██ ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
  ███████ ██ ██████  ███████     ██████  ██   ██ ██   ██ 
                                                          */
/* .containerSideBar {
    grid-area: a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    row-gap: 48px;
    background-color: var(--background-sidebar);
    background-image: url(./assets//water1.jpg);
    position: center center;
}

.logo {
    display: flex;
    justify-content: center;
}

.contList {
    display: flex;
    justify-content: center;
}

li {
    text-transform: uppercase;
}

input {
    border-radius: 50px;
} */
.container {
    display: flex;

}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    /* background: #000; */
    color: #fff;
    height: 100vh;
    width: 300px;
    transition: all 0.5s;
    background-image: url(./assets//water1.jpg);
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;

}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px; 
    transition: all 0.5s;
}
.link:hover{
    background: lightblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}

/*   
   ██████  ███████ ███    ██ ███████ ██████   █████  ██           ██████  ██████  ███    ██ ████████  █████  ██ ███    ██ ███████ ██████  
  ██       ██      ████   ██ ██      ██   ██ ██   ██ ██          ██      ██    ██ ████   ██    ██    ██   ██ ██ ████   ██ ██      ██   ██ 
  ██   ███ █████   ██ ██  ██ █████   ██████  ███████ ██          ██      ██    ██ ██ ██  ██    ██    ███████ ██ ██ ██  ██ █████   ██████  
  ██    ██ ██      ██  ██ ██ ██      ██   ██ ██   ██ ██          ██      ██    ██ ██  ██ ██    ██    ██   ██ ██ ██  ██ ██ ██      ██   ██ 
   ██████  ███████ ██   ████ ███████ ██   ██ ██   ██ ███████      ██████  ██████  ██   ████    ██    ██   ██ ██ ██   ████ ███████ ██   ██ 
   */
.gContainer {
    grid-area: b;
}

/* 
██       ██████   ██████  ██ ███    ██ 
██      ██    ██ ██       ██ ████   ██ 
██      ██    ██ ██   ███ ██ ██ ██  ██ 
██      ██    ██ ██    ██ ██ ██  ██ ██ 
███████  ██████   ██████  ██ ██   ████  */

.loginContainer {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

}

.logo {
    width: 100%;
    height: 100%
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input--login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.input--login__label {
    color: var(--textoPlano);
}

.input--login__input {
    border-radius: 7px;
    color: var(--placeholders);
    padding: 5px;
}

.boton--login {
    background-color: var(--background-inputs);
    border: solid 2px #fff;
    border-radius: 7px;
    padding: 5px;
    color: #fff;
}

.boton--login:hover {
    transition: 0.50s;
    background-color: var(--buttonHoverText);
}

/* 
███    ██ ██    ██ ███████ ██    ██  ██████       ██████ ██      ██ ███████ ███    ██ ████████ ███████ 
████   ██ ██    ██ ██      ██    ██ ██    ██     ██      ██      ██ ██      ████   ██    ██    ██      
██ ██  ██ ██    ██ █████   ██    ██ ██    ██     ██      ██      ██ █████   ██ ██  ██    ██    █████   
██  ██ ██ ██    ██ ██       ██  ██  ██    ██     ██      ██      ██ ██      ██  ██ ██    ██    ██      
██   ████  ██████  ███████   ████    ██████       ██████ ███████ ██ ███████ ██   ████    ██    ███████ 
                                                                                                        */

.contForm {
    margin-top: 5px;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--background-form);
}

.campos {

    margin: 30px;
    align-items: center;
    display: grid;
    grid-template-areas: "LABEL INPUT";
}

.contForm .campos {
    grid-area: INPUT;
    width: 100%;
}

.contForm label {
    grid-area: LABEL;
    width: 50%;
}

.input {
    display: flex;
    justify-content: center;
}

@media (max-width: 460px) {
    .contForm {
        width: 100%;
    }

    .campos {
        grid-template-areas: "LABEL"
            "INPUT";
    }

    .conftForm label {
        width: 100%;
    }

}

/* 
██     ██ ██ ██████   ██████  ███████ ████████ ███████ 
██     ██ ██ ██   ██ ██       ██         ██    ██      
██  █  ██ ██ ██   ██ ██   ███ █████      ██    ███████ 
██ ███ ██ ██ ██   ██ ██    ██ ██         ██         ██ 
 ███ ███  ██ ██████   ██████  ███████    ██    ███████ 
                                                       */

.widgets {
    width: 200px;
    height: 90px;
    border-radius: 10px;
    background-color: var(--background-widgets);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

p,
h4 {
    color: var(--negro) !important;
}