/* 
██████  ██       ██████  ██████   █████  ██      ███████ ███████ 
██       ██      ██    ██ ██   ██ ██   ██ ██      ██      ██      
██   ███ ██      ██    ██ ██████  ███████ ██      █████   ███████ 
██    ██ ██      ██    ██ ██   ██ ██   ██ ██      ██           ██ 
 ██████  ███████  ██████  ██████  ██   ██ ███████ ███████ ███████  */
                                                                 
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0167ac;
  --background-sidebar: rgba(0, 0, 0, 0.2);
  --background-form: #e6e9f7;
  --textoPlano: #ffff;
  --placeholders: #979797;
  --background-widgets: #B7EAFA;
  --background-inputs: #0167ac;
  --blanco: #FFFFFF;
  --negro: #000;
  --buttonHoverText: #4f46e5;
}

html {
  height: 100%;
}

body {
  background-color: var(--background-color);

}

p,
a {
  color: var(--textoPlano);
}
