@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0167ac;
  --background-sidebar: rgba(0 , 0 , 0, 0.2);
  --background-form: #e6e9f7;
  /* --background-inputs: #0167ac; */
  --blanco: #FFFFFF;
  --buttonHoverText: #4f46e5;
}
html {
  height: 100%;
}
body {
  background-color: var(--background-color);

}
.mainContainer {
display: grid;
grid-template-columns: 20% 80%;
justify-items: center;
}
input {
  background-color: var(--background-form);
  border-radius: 50px;
}
