.loginContainer {

    display: grids;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    
}

.logo {
    width: 100%;
    height: 100%
}

.login form {
    display: flex;
    flex-direction: column;
}
label{
    font-size: 10px;
}